$color_white: white;
$color_black: black;
$color_navbar: #F3FDFE;
$color_navbar_hover: #E9F7F9;
$color_button_navbar: #05D35D;
$color_text_navbar: #3B6064;
$color_image_main: #00000094;
$color_scroll: #FFFFFF;
$color_scroll_bold: #ffffff6f;
$color_text: #797979;
$color_icon1: #D2E4E5;
$color_icon2: #E1FFEE;
$color_footer: #E6F1F2;
$color_blognavbar: #3A3985;
$color_blocgbutton: #FFC501;
$color_products1: #019FAF;
$color_products2: #01148A;
$color_products3: #81132E;
$color_carousel: #ABABAB;
$color_hr: #04ab4c85;
$color_point: #bababa;
$color_text_footer: #686868;
$color_string_footer: #494D4E;
$color_login: #F1F1F1;
$color_line: #878787;
$color_card: #DDF8D3;
$color_integrate: #ecececbf;
$color_key: #4B4B4B;
$color_news: #05d35e45;
$color_take: #7549AD;
$color_textfooter: #7F858E;
$color_red: red;
$color_table: #04B24E;