@import "color";

// start everyone
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: $color_button_navbar;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.color_links {
    color: $color_text_navbar;
}

body header nav .container div ul li .active:hover,
body header nav .container div ul li .active {
    color: $color_button_navbar;
    border-bottom: 4px solid $color_button_navbar;
    padding-bottom: 28px;
}

.link_color:hover {
    color: $color_button_navbar;
    border-bottom: 4px solid $color_button_navbar;
    padding-bottom: 28px;
}

.icon_top {
    transition: 0.5s;
}

.span_color {
    color: $color_button_navbar;
}

.mouse_click {
    cursor: pointer;
}

.image_cover {
    object-fit: cover;
}

.button_navbar {
    width: 139px !important;
    height: 48px !important;
}

.icon_background {
    cursor: pointer;
    width: 48px;
    height: 48px;
    background-color: $color_button_navbar;
}

.icon_background::before,
.icon_background::after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.icon_background::before {
    width: 61px;
    height: 61px;
    border: 1px solid $color_button_navbar;
    animation: animation_video 2s infinite;
}

@keyframes animation_video {
    0% {
        width: 61px;
        height: 61px;
        border: 1px solid $color_white;
    }

    50% {
        width: 65px;
        height: 65px;
        border: 0px solid $color_button_navbar;
    }

    100% {
        width: 61px;
        height: 61px;
        border: 1px solid $color_white;
    }
}

.icon_background::after {
    width: 78px;
    height: 78px;
    border: 1px solid #05d35e44;
    animation: animation_line 2s infinite;
}

@keyframes animation_line {
    0% {
        width: 70px;
        height: 70px;
    }

    50% {
        width: 65px;
        height: 65px;
    }

    100% {
        width: 70px;
        height: 70px;
    }
}

.animation_text {
    animation: animation_text 2s infinite;
}

@keyframes animation_text {
    0% {
        margin-top: 5px;
        margin-left: 5px;
    }

    50% {
        margin-top: 0px;
        margin-left: 0px;
    }

    100% {
        margin-top: 5px;
        margin-left: 5px;
    }
}

.link_button {
    width: 173px;
    height: 48px;
    background-color: $color_button_navbar;
}

.link_button::before {
    content: "";
    background-color: rgba(255, 255, 255, 0.87);
    position: absolute;
    width: 0px;
    height: 0px;
    right: 15px;
    border-radius: 30%;
    z-index: 0;
    transition: 0.5s;
}

.link_button:hover::before {
    width: 110%;
    height: 70px;
    right: -10px;
}

.link_button:hover .size_button {
    color: $color_button_navbar !important;
}

.size_button {
    transition: 0.5s;
    font-size: 18px;
    z-index: 1;
}

.col_index {
    z-index: -1;
}

.div_line_left,
.div_line_right {
    width: 45.37px;
    height: 2px;
}

.div_line_left::before,
.div_line_right::before {
    content: "";
    position: absolute;
    background-color: $color_black;
    width: 7px;
    height: 7px;
    top: -3px;
    right: 0;
    border-radius: 50%;
}

.div_line_left::before,
.div_line_right::before {
    content: "";
    position: absolute;
    background-color: $color_black;
    width: 7px;
    height: 7px;
    top: -3px;
    border-radius: 50%;
}

.div_line_right::before {
    right: 0;
}

.div_line_left::before {
    left: 0;
}

.size_card {
    font-size: 30px;
}

.button_card {
    height: 60.96px;
}

.title_size_span {
    font-size: 44px;
}

.div_circle_carousel {
    width: 0 !important;
    height: 0 !important;
    background-color: $color_point;
}

.carousel-indicators [data-bs-target] {
    opacity: 1 !important;
    background-color: $color_point;
}

.carousel-indicators {
    bottom: 0 !important;
    margin-bottom: 7px !important;
}

.div_arraow_1 {
    z-index: 3;
    background-color: $color_point;
    transition: 0.4s;
}

.div_arraow_1:hover {
    color: $color_white;
    background-color: $color_button_navbar;
}

.link_footer_color {
    color: $color_string_footer;
}

.icon_index {
    z-index: 2;
}

.button_overrite {
    background-color: $color_text_navbar;
}

.span_online {
    color: $color_text_navbar;
}

.input_search {
    height: 57px;
}

.div_iconsearch {
    background-color: $color_button_navbar !important;
}

.row_gap {
    row-gap: 20px;
}

.image_search {
    top: 17px;
}

.section_padding {
    height: 150vh;
    padding-top: 120px;
}

.hr_width {
    width: 118% !important;
}

// end everyone
// start navbar
body header {
    z-index: 4;
    background-color: $color_navbar;
}

body header nav .container div ul {
    gap: 45px;
}

body header nav .container div ul li .section_solutions {
    top: 50px;
    background-color: $color_navbar_hover;
    border-top: 3px solid $color_button_navbar;
}

body header nav .container div ul li .section_solutions:hover,
body header nav .container div ul .div_section_block:hover~.section_solutions {
    display: flex !important;
}

.section_solutions.flex-display {
    display: flex !important;
}

body header nav .container div ul li .section_solutions ul .border_title {
    width: 40px;
    border-bottom: 3px solid $color_button_navbar;
}

body header nav .container div ul li .section_solutions .div_hr {
    width: 2px;
    background-color: #05d35e2a;
}

body header nav .container .menu {
    background-color: $color_text_navbar;
}

body header .navbar .container div ul li .section_solutions ul li .text_hover:hover {
    color: $color_button_navbar !important;
}

.element_height {
    height: 100vh;
}

// end navbar
// start main
body .section_main .row div .div_image:before {
    content: "";
    background-size: 50% 100vh;
    position: absolute;
    width: 50%;
    height: 100vh;
}

body .section_main .row div .div_image:before {
    background-image: url("/images/images_home/image_left.png");
    left: 0;
}

body .section_main .row div .div_image .carousel_text div .title_number {
    color: #f3fdfeb4;
    font-size: 107.28px;
}

body .section_main .row div .div_center .div_top {
    margin-top: 250px;
}

body .section_main .row div .div_left {
    left: 3%;
}

body .section_main .row div .div_left div .div_circle {
    cursor: pointer;
    width: 10px;
    height: 10px;
}

body .section_main .row div .div_left div .div_circle1 {
    cursor: pointer;
    width: 10px;
    height: 10px;
}

body .section_main .row div .div_left div .active {
    background-color: $color_button_navbar !important;
}

body .section_main .row div .div_left div .active::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    left: -8px;
    top: -8px;
    border-radius: 50%;
    border: 2px solid $color_button_navbar;
}

body .section_main .row div .div_center .carousel_text div .size_main {
    width: 410px;
    font-size: 47.3px;
}

body .section_main .row div div .div_mouse {
    top: -150px;
    width: 30px;
    height: 50px;
}

body .section_main .row div div .div_mouse::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 10px;
    background-color: $color_white;
    animation: animation_mouse 2s infinite;
}

@keyframes animation_mouse {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

body .section_main .container .row div div .div_mouse .div_arraow {
    margin-top: 130px;
}

body .section_main .container .row div div .div_mouse .div_arraow .arraow_all {
    opacity: 0;
}

body .section_main .container .row div div .div_mouse .div_arraow .arraow1 {
    animation: animation_arraow1 3s infinite;
}

@keyframes animation_arraow1 {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }
}

body .section_main .container .row div div .div_mouse .div_arraow .arraow2 {
    animation: animation_arraow2 3s infinite;
}

@keyframes animation_arraow2 {
    30% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }
}

body .section_main .container .row div div .div_mouse .div_arraow .arraow3 {
    animation: animation_arraow3 3s infinite;
}

@keyframes animation_arraow3 {
    60% {
        opacity: 1;
    }

    90% {
        opacity: 0;
    }
}

body .section_main .container .row_bottom {
    flex-wrap: wrap;
    z-index: 4;
    background-color: $color_scroll_bold;
    width: 100%;
}

body .section_main .container .row_bottom .col_child div .div_width div .text_one {
    font-size: 14px;
}

body .section_main .container .row_bottom .col_child div .div_width div .text_tow {
    font-size: 17px;
}

body .section_main .container .row_bottom .col_child div .div_width1::after,
body .section_main .container .row_bottom .col_child div .div_width::after {
    content: "";
    right: 20px;
    position: absolute;
    background-color: $color_white;
    width: 2px;
    height: 90px;
}

body .section_main .container .row_bottom .col_child div .div_width1::after {
    background-color: transparent;
}

section div div div h2 .accordion-button::after,
section div div div h2 .accordion-button:not(.collapsed)::after,
body .section_main .container .row_bottom .col_child .active_bottom .div_width::after,
body .section_main .container .row_bottom .col_child:last-child .div_width::after {
    display: none;
}

body .section_main .container .row_bottom .col_child .active_bottom {
    width: 100%;
    border-radius: 15px;
    background-color: $color_scroll_bold;
    height: 150px;
}

body .section_main .container .row_bottom .col_child .active_image {
    background-image: url("/images/images_home/my_image.png");
    background-size: 100% 135px;
    width: 100%;
    height: 135px;
}

body .section_main .container .row div .div_image_right .div_right {
    top: 35%;
    right: 3%;
    z-index: 1;
}

body .section_main .container .row div .div_image_right .div_right_before::before,
body .section_main .container .row div .div_image_right .div_right_before::after {
    content: "";
    position: absolute;
    width: 1.5px;
    height: 110px;
    background-color: $color_white;
}

body .section_main .container .row div .div_image_right .div_right_before::before {
    top: -125px;
}

body .section_main .container .row div .div_image_right .div_right_before::after {
    top: 300px;
}

body .section_main .container .row div .div_image_right .div_right ul li .icon_width {
    width: 42px;
    height: 42px;
}

body .section_main .container .row_bottom .col_child div .div_width div .active_online {
    color: $color_button_navbar;
}

body .section_main .container .row_bottom .col_child div .div_width div .active_online1 {
    color: $color_button_navbar;
}

body .section_main .container .row_bottom .col_child div .border_active::before,
body .section_main .container .row_bottom .col_child div .border_active1::before {
    content: "";
    position: absolute;
    left: 17px;
    width: 150px;
    height: 3px;
    background-color: $color_button_navbar;
}

body .section_main .container .row_bottom .col_child div .border_active::before {
    bottom: 32px;
}

body .section_main .container .row_bottom .col_child div .border_active1::before {
    bottom: 23.2px;
}

body .section_main .container .row div .div_image .carousel_text {
    z-index: 2;
    margin-left: -30px;
}

body .section_main .container .row div .carousel {
    position: static;
}

body .section_main_home .div_background::before {
    content: "";
    background-image: url("/images/images_home/background_image_main.png");
    background-size: 100% 100vh;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

body .section_main_home .div_background .container_padding .row div div .size_main_home {
    font-size: 62px;
}

body .section_main_home .div_background .container_padding .row div div .size_main_home::before {
    content: url("/images/images_home/icon_top.svg");
    position: absolute;
    right: 25px;
    top: -60px;
}

body .section_main_home .div_bottom {
    background-color: $color_footer;
}

.arraow_footer,
body .section_main_home .div_bottom {
    margin-left: -30px;
    width: 59px;
    height: 82px;
    bottom: -45px;
}

.arraow_footer::before,
body .section_main_home .div_bottom::before {
    content: "";
    position: absolute;
    background-color: transparent;
    width: 65px;
    height: 65px;
    z-index: -1;
    top: -4px;
    border-radius: 35px;
}

body .section_main_home .div_bottom::before {
    border: 1px solid $color_footer;
}

body .section_main::-webkit-keygen-select {
    width: 5px;
}

body .section_main {
    overflow-y: hidden;
    background-color: #000000a5;
    height: 100vh;
}

body .section_main .container .row div .div_center .carousel-inner {
    overflow: visible;
}

.section_main .container .row div .div_image .carousel_text .carousel-item .row div .image_position {
    width: 103vh;
}

body .section_main .container_mobile .image_responsve div .div_image .carousel_text .element_height .row_bottom .col_child .active_image .div_width div .active_white {
    color: $color_white !important;
}

body .section_main .container_mobile .image_responsve div .div_image .carousel_text .element_height .row_bottom .col_child .active_image .active_white1 {
    color: $color_white !important;
}

body .section_main_integrations {
    height: 70vh;
    background: -webkit-linear-gradient(90deg, rgb(222, 232, 234), rgb(150, 174, 154));
    background: linear-gradient(90deg, rgb(222, 232, 234), rgb(150, 174, 154));
}

body .section_main_integrations .container div .title_main {
    font-size: 60px;
}

body .section_main_integrations .container div .width_text {
    width: 883px;
}

body section .row div .section_color {
    width: 30%;
    background-color: $color_footer;
}

body section .row div .section_color div div ul .li_hover:hover {
    color: $color_button_navbar;
}

body section .row div .accordion-flush .accordion-item .accordion-button,
body section .row div .accordion-flush .accordion-item .accordion-button.collapsed {
    border-radius: 30px !important;
}

body section .row div .section_color div h2 .accordion-button:focus {
    box-shadow: var(--before_border) !important;
}

body section .row div .section_color div h2 .accordion-button:not(.collapsed) {
    font-weight: bold;
    color: $color_button_navbar;
    background-color: transparent !important;
    box-shadow: inset 0 calc(0 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

body section .row div .padding_mobile .hr_width div .div_video {
    background-color: $color_text_navbar;
    width: 107px;
    height: 107px;
}

body section .row div .padding_mobile .hr_width div .color_text {
    color: $color_line;
}

// end main
// start fillter
body section .row div div div div input[type=checkbox] {
    width: 30px;
    height: 30px;
    border-radius: 35%;
    border: 1px solid $color_black;
    appearance: none;
    -webkit-appearance: none;
}

body section .row div div div div input[type=checkbox]:checked {
    background-image: url("/images/images_Integrations/icon_true.svg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid $color_text_navbar;
}

body section .row div div div div input[type=checkbox]:checked+label {
    color: $color_text_navbar;
    font-weight: bold;
}

body section .row div div div div label {
    color: rgba(0, 0, 0, 0.653);
}

body section .row div .div_overflow div .div_news {
    height: 85px;
}

body section .row div div .div_number {
    background-color: $color_text_navbar;
}

body section .row div div .div_number:hover {
    background-color: $color_button_navbar;
}

body section .row div div div .grayscale-filter {
    filter: grayscale(100%);
}

// end fillter
// start carousel
body .section_point .container .row div .row_hover div .number_carousel {
    color: $color_carousel;
    font-size: 66px;
}

body .section_point .container .row div .border_bottom {
    border-bottom: 2px dashed $color_hr;
}

body .section_point .container .row div .div_icon {
    background-color: $color_text_navbar;
    width: 76px;
    height: 73px;
    box-shadow: 0 0 15px $color_text_navbar;
}

body .section_point .container .row_hover:hover .div_icon {
    background-color: $color_button_navbar;
}

body .section_point .container .row_hover:hover .color_links {
    color: $color_button_navbar;
}

body .section_point .container .row div .active_carousel {
    background-color: $color_button_navbar;
}

body .section_point .container .row div .title_size {
    color: $color_text;
    font-size: 18px;
}

body .section_point .container .row div .active_title {
    color: $color_button_navbar;
}

body .section_point:nth-child(odd):before,
body .section_point:nth-child(even):before {
    position: absolute;
    z-index: -2;
    top: -300px;
}

body .section_point:nth-child(odd):before {
    content: url("/images/images_home/background_about2.png");
    left: 0;
}

body .section_point:nth-child(even):before {
    content: url("/images/images_home/background_about1.png");
    position: absolute;
    right: 0;
}

body .section_point .container .row div div div div .image_carousel {
    z-index: -1;
    right: 130px;
}

body .section_point .container .row div div div .size_carousel {
    width: 300px;
    height: 300px;
}

// end carousel
// start line
body .section_point .section_line {
    height: 150px;
}

body .section_point:nth-child(even) .div_dotted,
body .section_point:nth-child(odd) .div_dotted {
    border: 1px dashed $color_black;
}

body .section_point .line_width {
    width: 70% !important;
}

body .section_point .div_dotted {
    width: 30%;
}

body .section_point:nth-child(even) .div_dotted:after,
body .section_point:nth-child(odd) .div_dotted:after,
body .section_point:nth-child(even) .div_dotted::before,
body .section_point:nth-child(odd) .div_dotted::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 80px;
    border: 1px dashed $color_black;
}

body .section_point:nth-child(even) .div_dotted:after {
    top: -1px;
    left: -5px;
}

body .section_point:nth-child(odd) .div_dotted:after {
    bottom: -1px;
    left: -5px;
}

body .section_point:nth-child(even) .div_dotted::before {
    bottom: -1px;
    right: -5px;
}

body .section_point:nth-child(odd) .div_dotted::before {
    top: -1px;
    right: -5px;
}

body .section_point:nth-child(even) .div_dotted .div_line_point:nth-child(odd),
body .section_point:nth-child(odd) .div_dotted .div_line_point:nth-child(even) {
    top: 35px;
}

body .section_point:nth-child(even) .div_dotted .div_line_point:nth-child(odd),
body .section_point:nth-child(odd) .div_dotted .div_line_point:nth-child(odd) {
    left: -10px;
}

body .section_point:nth-child(odd) .div_dotted .div_line_point:nth-child(odd),
body .section_point:nth-child(even) .div_dotted .div_line_point:nth-child(even) {
    bottom: 57px;
}

body .section_point:nth-child(even) .div_dotted .div_line_point:nth-child(even),
body .section_point:nth-child(odd) .div_dotted .div_line_point:nth-child(even) {
    right: -10px;
}

body .section_point .section_line div div .div_dotted .div_line_point h2 {
    font-size: 50px;
}

body .section_point:nth-child(even) .section_line .container .div_left_center {
    margin-left: 300px;
}

body .section_point:nth-child(odd) .section_line .container .div_left_center {
    margin-right: 300px;
}

// end line
// start platform
body .section_point .container .row .col div div .div_before_image::before {
    content: url("/images/images_home/image_dashboard_animation.png");
    position: absolute;
    right: -70px;
    top: -30px;
    animation: animation_image1 3s infinite;
}

@keyframes animation_image1 {
    0% {
        top: -25px;
    }

    50% {
        top: 0px;
    }

    100% {
        top: -25px;
    }
}

body .section_point .container .row .col div div .div_before_image::after {
    content: url("/images/images_home/image_dashboard_animation2.png");
    position: absolute;
    right: -70px;
    bottom: -30px;
    animation: animation_image2 3s infinite;
}

@keyframes animation_image2 {
    0% {
        right: -70px;
    }

    50% {
        right: -50px;
    }

    100% {
        right: -70px;
    }
}

body .section_point .container .row .col div div .div_after_image::before {
    content: url("/images/images_home/image_dashboard_animation1.png");
    position: absolute;
    left: -70px;
    top: 150px;
    animation: animation_image3 3s infinite;
}

@keyframes animation_image3 {
    0% {
        left: -70px;
        top: 150px;
    }

    50% {
        left: -50px;
        top: 170px;
    }

    100% {
        left: -70px;
        top: 150px;
    }
}

body .section_point .container .row .col div div .div_after_image::after {
    content: url("/images/images_home/image_dashboard_animation3.png");
    position: absolute;
    left: -70px;
    bottom: -50px;
    animation: animation_image4 3s infinite;
}

@keyframes animation_image4 {
    0% {
        left: -70px;
        bottom: -50px;
    }

    50% {
        left: -30px;
        bottom: -20px;
    }

    100% {
        left: -70px;
        bottom: -50px;
    }
}

// end platform
// start solutions
body .section_point .container .div_child div div div .title_35 {
    font-size: 35px;
}

body .section_point .container .div_child div div div .text_height {
    line-height: 30px;
}

body .section_point .container .div_child:nth-child(even) {
    flex-direction: row;
}

body .section_point .container .div_child:nth-child(odd) {
    flex-direction: row-reverse;
}

body .section_bottom {
    bottom: 800px;
    z-index: -1;
}

body .section_bottom .div_clice::before {
    content: url("/images/images_home/background_about1.png");
    position: absolute;
    right: 0;
}

body .section_bottom .div_clice::after {
    content: url("/images/images_home/background_about2.png");
    position: absolute;
    left: 0;
    top: 50px;
}

body .section_point .container .div_child:nth-child(even) .div_rounded {
    border-radius: 20px 0 0 20px;
}

body .section_point .container .div_child:nth-child(odd) .div_rounded {
    border-radius: 0 20px 20px 0;
}

// end solutions
// start works
body .section_point div .row_overflow .row div:nth-child(odd) .image_background,
body .section_point div .row_overflow .row div:nth-child(even) .image_background {
    padding: 20px 12px;
}

body .section_point div .row_overflow .row div:nth-child(odd) .image_background {
    background-color: $color_icon1;
}

body .section_point div .row_overflow .row div:nth-child(even) .image_background {
    background-color: $color_icon2;
}

body .section_point div .row_overflow .row div .image_background::before {
    content: "";
    position: absolute;
    width: 140px;
    height: 1.7px;
    top: 50%;
    left: -140px;
    background-color: #3b606495;
    z-index: -1;
}

body .section_point div .row_overflow .row div:first-child .image_background::before,
body .section_point div .row_overflow .row div:nth-child(7) .image_background::before,
body .section_point div .row_overflow .row div:nth-child(6n + 1) .image_background::before {
    display: none;
}

body .section_point div .row_overflow .row div .image_background .image_size {
    width: 39px;
    height: 39px;
}

body .section_point div .row_overflow .row div .title_size_mobile {
    height: 80px;
}

// end works
// start cards
body section .container .row div:last-child .div_card,
body section .container .row div:nth-child(odd) .div_card,
body section .container .row div:nth-child(even) .div_card {
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
}

body section .container .row div:last-child .div_card,
body section .container .row div:nth-child(odd) .div_card {
    background-image: url("/images/images_home/image_card.png");
    background-size: 100% 100px;
    height: 100px;
}

body section .container .row div:nth-child(even) .div_card {
    background-image: url("/images/images_home/image_card_pus.png");
    background-size: 100% 110%;
    width: 100%;
    height: 110%;
    padding-top: 40px;
    border-radius: 20px;
    top: -30px;
}

body section .container .row div:last-child .div_card {
    background-image: url("/images/images_home/image_card_right.png");
}

body .section_point .container .row .div_card .size_text {
    font-size: 36px;
}

body .section_point .container .row .div_child .div_border_card {
    border-top: transparent !important;
    border: 1.6px solid $color_button_navbar;
    border-radius: 0 0 10px 10px;
}

body section .container .row div:nth-child(even) .div_border_card {
    color: $color_white !important;
    border: 0 solid $color_button_navbar;
}

body section .container .row div:nth-child(odd) .div_border_card {
    color: $color_text_navbar;
}

body .section_point .container .row .div_child .div_border_card div:last-child .size_card {
    border: none !important;
}

body .section_point .container .row>.div_child:nth-child(odd) .button_card {
    background-color: $color_text_navbar;
}

.button_card:hover::before {
    height: 90px !important;
}

body .section_point .container .row div .div_card div .div_line_card {
    height: 2px;
    background-color: $color_button_navbar;
}

body .section_point .container .row div .div_card div .div_line_card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 73%;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: $color_button_navbar;
}

body .section_point .container .row div .div_card div .div_line_card::after {
    content: "";
    position: absolute;
    right: 0;
    top: 73%;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: $color_button_navbar;
}

// end cards
// start testmonials
body section .section_bottom_1 {
    bottom: 500px !important;
}

body section .container .row div div div .div_relative .color_title {
    margin-left: 250px;
    margin-right: 250px;
    color: $color_text_navbar;
}

body section .container .row div div div .div_relative::before {
    content: url("/images/images_home/icom_arrawo_left.svg");
    position: absolute;
    left: 200px;
}

body section .container .row div div div .div_relative::after {
    content: url("/images/images_home/icom_arrawo_right.svg");
    position: absolute;
    right: 200px;
    bottom: -50px;
}

body section .container .row div div div .div_relative .title_size_smoll {
    font-size: 14px;
}

body section .container .row div div .div_enter .active {
    background-color: $color_button_navbar;
}

body section .container .row div .div_margin {
    margin-left: 420px;
    margin-right: 420px;
}

// end testmonials
// start aggregators
body section .container .div_bottom_arraow .swiper-button-next:after,
.swiper-button-prev:after {
    color: $color_black;
    font-size: 20px;
    transition: 0.3s;
}

body section .container .div_bottom_arraow .swiper-button-next:hover:after,
body section .container .div_bottom_arraow .swiper-button-prev:hover:after {
    color: $color_white;
}

body section .container .mySwiper .div_cursor {
    cursor: col-resize;
}

body section .container .div_bottom_arraow {
    bottom: 50px;
}

body section .container .div_bottom_arraow .swiper-button-next {
    right: -90px;
}

body section .container .div_bottom_arraow .swiper-button-prev {
    left: -90px;
}

// end aggregators
// start signin1
.input_padding {
    padding: 15px;
}

.input_padding_1 {
    padding-bottom: 5px;
}

.text_top {
    font-size: 13px;
    top: 4px;
    left: 15px;
    color: $color_text_navbar;
}

.text_top_1 {
    top: 2px !important;
}

body section div .modal-body .row {
    row-gap: 20px;
}

body section div div .div_main_sign .row div div .text_click {
    font-size: 20px;
}

body section div div .div_main_sign {
    background-color: $color_text_navbar;
    border-radius: 10px 10px 0 0;
}

// end signin1
// start singin2
body section div div .row_height {
    margin-top: -1px;
    margin-left: -14px;
}

body section div div .row div div .div_size {
    width: 40px;
    height: 40px;
}

body section div div .row div div div .div_rounded_point {
    width: 170px;
    height: 170px;
    outline: 12px solid $color_button_navbar;
    animation: animation_outline 2s infinite;
}

@keyframes animation_outline {
    0% {
        outline: 12px solid $color_button_navbar;
    }

    50% {
        outline: 8px solid $color_button_navbar;
    }

    100% {
        outline: 12px solid $color_button_navbar;
    }
}

body section div div .row div div .color_button {
    width: 94%;
    background-color: $color_login;
    border-radius: 15px;
}

body section div div .row div div .color_button::before {
    content: "";
    border-radius: var(--before_border, 10px 0 0 10px);
    background-color: $color_text_navbar;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    transition: 0.7s;
    left: var(--before_left, 0);
}

body section div div .row div div div .button_login {
    color: $color_white;
}

body section div div .row div div .button_all {
    z-index: 1;
    background-color: transparent;
    width: 50%;
}

.widht_input {
    width: 93%;
}

body section div div .row div div form .button_height {
    height: 39px;
}

body section div div .row div div form .widht_input .div_or::before,
body section div div .row div div form .widht_input .div_or::after {
    content: "";
    background-color: $color_line;
    position: absolute;
    width: 125px;
    height: 1px;
    top: 13px;
}

body section div div .row div div form .widht_input .div_or::before {
    left: 25px;
}

body section div div .row div div form .widht_input .div_or::after {
    right: 205px;
}

body section div div .row div div form .widht_input div a .span_size {
    font-size: 12px;
}

body section div div .row div div #form1 {
    display: flex;
}

body section div div .row div div #form2 {
    display: none;
}

// end singin2
// start footer
body .section_footer {
    margin-top: 150px;
    border-radius: 30px 30px 0 0;
    background-color: $color_footer;
}

body .section_footer .container .div_up {
    transform: translate(102px, -40px);
}

body .section_footer .container .div_up .arraow_footer {
    background-color: $color_text_navbar;
}

body .section_footer .container .div_up .arraow_footer::before {
    border: 1px solid $color_text_navbar !important;
}

body .section_footer .container .row div .title_color {
    width: 120%;
    line-height: 25px;
    color: $color_text_footer;
}

body .section_footer .container .row div .hover_link .image_tran {
    transition: 0.4s;
}

body .section_footer .container .row div .hover_link:hover img {
    margin-left: 15px;
}

.section_footerborder {
    bottom: 0px;
    border-radius: 40px 40px 0 0;
    border: 1px solid $color_button_navbar;
}

// end footer
// start footer center
body .footer_container .div_top {
    top: 180px;
}

body .container .div_top .section_footer_center::before {
    content: "";
    background-image: url("/images/images_home/background_started.png");
    background-size: 100% 203px;
    position: absolute;
    width: 100%;
    height: 203px;
}

body .container .div_top .section_footer_center div .row div .title_before {
    font-size: 30px;
}

body .container .div_top .section_footer_center div .row div .title_before::before,
body .container .div_top .section_footer_center div .row div .title_before::after {
    content: "";
    position: absolute;
    background-color: $color_white;
    right: -120px;
}

body .container .div_top .section_footer_center div .row div .title_before::before {
    width: 80px;
    height: 2px;
    top: 50%;
}

body .container .div_top .section_footer_center div .row div .title_before::after {
    width: 10px;
    height: 10px;
    top: 13px;
    border-radius: 50%;
}

body .container .div_top .section_footer_center div .row div .title_footer {
    color: #E0E0E0;
}

body .container .div_top .section_footer_center div .row div div .link_button .more_before::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $color_white;
    right: -15px;
    top: 39%;
}

body .container .div_top .section_footer_center div .row div div .button_size {
    width: 248px;
    height: 48px;
    background-color: $color_button_navbar;
    z-index: 1;
}

body .section_footer .container .container .row div div .footer_hover:hover {
    color: $color_products2;
}

// end footer center
// start media
@media (max-width: 1200px) and (min-width: 990px) {
    body header nav .container div ul {
        gap: 3px;
    }

    body header nav .container div ul .link_color {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    body header nav .container div ul li .link_signin {
        margin-left: 10px !important;
    }

    body .section_main_home .div_background .container_padding {
        padding-top: 100px;
    }

    body .section_main .container .row_bottom {
        width: 90%;
        left: 8%;
    }

    body .section_main .container .row_bottom .col_child div .div_width::after {
        display: none !important;
    }

    body .section_main .container .row div .div_image .carousel_text div .title_number {
        font-size: 60px;
    }

    body .section_main .container .row div .div_center .carousel_text div .size_main {
        font-size: 20px;
    }
}

@media (max-width: 950px) and (min-width: 550px) {
    body .section_point div .row_overflow .row div .image_background::before {
        width: 50px !important;
        height: 1.7px !important;
        left: -50px !important;
    }

    body .section_point div .row_overflow .row div:nth-child(3n) .image_background::after,
    body .section_point div .row_overflow .row div:nth-child(4) .image_background::after,
    body .section_point div .row_overflow .row div:first-child .image_background::before,
    body .section_point div .row_overflow .row div:nth-child(7) .image_background::before,
    body .section_point div .row_overflow .row div:nth-child(6n + 1) .image_background::before {
        display: none !important;
    }

    body .section_point div .row_overflow .row div:nth-child(3) .image_background::after {
        display: none !important;
    }

    body section .container .row div:nth-child(even) .div_card {
        top: 0;
        background-size: 100% 98.6%;
        height: 98.6%;
    }
}

@media (max-width: 990px) and (min-width: 0) {
    body header {
        background-color: $color_white;
    }

    body header nav .container div ul li .active {
        color: $color_button_navbar;
        border-bottom: 0px solid transparent;
        padding-bottom: 0;
    }

    body header nav .container div ul {
        gap: 20px;
    }

    body header nav .container div ul .li_overflow:hover {
        padding-bottom: 20px;
        background-color: $color_navbar_hover;
    }

    body header nav .container div ul .li_overflow:hover .icon_top {
        color: $color_button_navbar;
        transform: rotate(90deg);
    }

    body header nav .container div ul .li_overflow:hover .link_color {
        color: $color_button_navbar;
    }

    body header nav .container div ul li .section_solutions {
        border-top: 0px solid $color_button_navbar;
        z-index: 1;
        position: relative !important;
        width: 100%;
        left: 0;
        top: 10px;
    }

    body header nav .container div ul li .section_solutions ul .border_title {
        border-bottom: 0px solid $color_button_navbar;
    }

    body header nav .container div ul li .button {
        width: calc(1.4 * var(--width));
        height: calc(0.9 * var(--height));
    }

    body header nav .container div ul li .active_mobile {
        color: $color_text_navbar !important;
    }

    body header nav .container div ul li .link_color:hover {
        border-bottom: 0 solid $color_button_navbar;
        padding-bottom: 0;
    }

    body .section_main .container .row_bottom .col_child div .border_active1::before,
    body .section_bottom .div_clice::before,
    body .section_bottom .div_clice::after,
    body .section_main .container .row_bottom .col_child div .div_width::after,
    .section_point::before,
    body .section_main .container .row_bottom .col_child div .border_active::before,
    body .section_main .container .row div .div_image:before {
        display: none;
    }

    body .section_main .container .row div .div_image .carousel_text div .title_number {
        font-size: 60px;
    }

    body .section_main .container .row div .div_center .carousel-inner {
        padding-left: 250px;
        padding-right: 250px;
    }

    body .section_main .container .row div .div_center .carousel_text div .size_main {
        width: 250px;
        font-size: 20px;
    }

    body .section_main .container .row_bottom {
        transform: translate(0, 20px);
        width: 335px;
        height: 200px;
        left: 20px;
    }

    body .section_main .container .row_bottom .col_child div .div_width .image_width {
        width: 60px;
        height: 37.73px;
    }

    body .section_main .container .row_bottom .col_child .active_image {
        height: 86px;
    }

    body .section_main .container .row_bottom .col_child div .div_width {
        height: 86px;
    }

    body .section_main .container .row_bottom .col_child .active_bottom {
        width: 167px;
        border-radius: 0;
        height: 86px;
        transform: translate(0, 0);
    }

    body .section_main .container .row_bottom .col_child div .div_width div .text_one {
        font-size: 8px;
    }

    body .section_main .container .row_bottom .col_child div .div_width div .text_tow {
        width: 110%;
        font-size: 9px;
    }

    body .section_main .container .row div .div_image .carousel_text {
        margin-left: 0;
    }

    .image_responsve {
        width: 100% !important;
    }

    body .section_main_home .div_background .container_padding .row div div .size_main_home {
        font-size: 34.2px;
    }

    body .section_main_home .div_background .container_padding .row div div .size_main_home::before {
        right: 0;
        top: -70px;
    }

    body .section_main_home .div_background::before,
    body .section_main_home {
        height: 700px;
    }

    body .section_main_home .div_background .container_padding {
        padding-top: 150px;
    }

    body .section_point .container .row div .row_hover div .number_carousel {
        font-size: 40px;
    }

    body .section_point .container .row div .div_icon {
        width: 49px;
        height: 44px;
    }

    .icon_size {
        width: 21.69px;
        height: 21.69px;
    }

    body .section_point .container .row div .title_size {
        font-size: 14px;
    }

    .title_mobile {
        font-size: 18px;
    }

    body .section_point .container .row div div div .size_carousel {
        width: 233.79px;
        height: 233.23px;
    }

    body .section_main_home .div_bottom {
        bottom: -15px;
        width: 41px;
        height: 53px;
    }

    body .section_main_home .div_bottom::before {
        width: 45px;
        height: 55px;
    }

    body .section_point .container .row div div div div .image_carousel {
        width: 181.55px;
        height: 161.4;
    }

    .section_main .container .row div .div_image .carousel_text .carousel-item {
        position: absolute;
    }

    .section_main .container .row div .div_image .carousel_text .carousel-item .row div .image_position {
        width: 100%;
        height: 60vh;
        top: -20px;
        left: 0;
        position: absolute;
    }

    body .section_main .container_mobile {
        margin-left: 0;
        margin-right: 0;
    }

    body .section_main {
        height: 69vh;
    }

    body .section_main .container_mobile .image_responsve div .div_image .carousel_text .div_height_res {
        height: 60vh;
    }

    body .section_point .container .row .col div div .title_line {
        font-size: 18px !important;
    }

    .title_size_span {
        font-size: 20px !important;
    }

    .link_button {
        width: 115px;
        height: 32px;
    }

    .size_button {
        font-size: 14px;
    }

    body .section_point .container .div_child div div div .title_35 {
        font-size: 20px;
    }

    body .section_point .container .div_child div div div .text_height {
        line-height: 23px;
        font-size: 14px !important;
    }

    body .section_point div .row_overflow .row div .image_background:nth-child(odd) .image_background,
    body .section_point div .row_overflow .row div .image_background:nth-child(even) .image_background {
        padding: 10px 10px;
    }

    body .section_point div .row_overflow .row div .image_background::before {
        content: "";
        position: absolute;
        width: 350%;
        height: 1.7px;
        top: 50%;
        left: 0px;
        border: 2px dashed #3b606495;
        z-index: -1;
    }

    body .section_point div .row_overflow .row div:nth-child(6n + 1) .image_background::before {
        display: block;
    }

    body .section_point div .row_overflow .row div:last-child .image_background::before,
    body .section_point div .row_overflow .row div:nth-child(3n) .image_background::before,
    body .section_point div .row_overflow .row div:nth-child(3n) .image_background::before {
        width: 70px;
        height: 1.7px;
        top: 50%;
    }

    body .section_point div .row_overflow .row div:nth-child(1) .image_background::before {
        left: 0 !important;
    }

    body .section_point div .row_overflow .row div:nth-child(3n + 1) .image_background::before {
        left: -30px;
    }

    body .section_point div .row_overflow .row div:nth-child(3n) .image_background::after {
        content: "";
        position: absolute;
        width: 1.7px;
        height: 158px;
        top: 50%;
        border: 2px dashed #3b6064d8;
        z-index: -1;
    }

    body .section_point div .row_overflow .row div:nth-child(7n) .image_background::after,
    body .section_point div .row_overflow .row div:nth-child(13n) .image_background::after,
    body .section_point div .row_overflow .row div:nth-child(1) .image_background::after,
    body .section_point div .row_overflow .row div:nth-child(6n) .image_background::after {
        content: "";
        display: none;
    }

    body .section_point div .row_overflow .row div:nth-child(3n) .image_background::after {
        right: -25px;
    }

    body .section_point div .row_overflow .row div:nth-child(3n + 1) .image_background::after {
        content: "";
        position: absolute;
        width: 1.7px;
        height: 158px;
        top: 50%;
        border: 2px dashed #3b6064d8;
        z-index: -1;
    }

    body .section_point div .row_overflow .row div:nth-child(3n + 1) .image_background::after {
        left: -25px;
    }

    body .section_point div .row_overflow {
        height: 450px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    body .section_point div .row_overflow .row div .image_background .image_size {
        width: 25px;
        height: 25px;
    }

    body section .container .row div:nth-child(even) .div_card {
        top: 0;
        background-size: 100% 100%;
        height: 100%;
    }

    body section .container .row div .div_margin {
        margin-left: 50px;
        margin-right: 50px;
    }

    body section .container .row div div div .div_relative .color_title {
        margin-left: 0px;
        margin-right: 0px;
    }

    body .section_border {
        border: none !important;
    }

    body section .container .div_bottom_arraow {
        bottom: -50px;
    }

    body section .container .div_bottom_arraow .swiper-button-next,
    body section .container .div_bottom_arraow .swiper-button-prev {
        width: 40px;
        height: 40px;
    }

    body section .container .div_bottom_arraow .swiper-button-next {
        right: 130px;
    }

    body section .container .div_bottom_arraow .swiper-button-prev {
        left: 130px;
    }

    body .container .div_top .section_footer_center div .row div .title_before::before,
    body .container .div_top .section_footer_center div .row div .title_before::after {
        right: -100px;
    }

    body .container .div_top .section_footer_center div .row div .title_before::after {
        top: 8px;
    }

    body .section_footer .container .row div .link_footer {
        width: 189.88px;
        height: 27.27px;
    }

    body .section_footer .container .row div a .span_mobile {
        color: $color_button_navbar;
    }

    body .div_signin {
        top: 10px;
        left: 5%;
    }

    body .section_main_integrations {
        height: auto;
        padding-top: 100px;
        padding-bottom: 20px;
    }

    body .section_main_integrations .container div .title_main {
        font-size: 25px;
    }

    .input_width {
        width: 90% !important;
    }

    body .section_search div .div_flex {
        display: flex;
        justify-content: flex-start;
    }

    body section .row div .div_overflow {
        height: 400px;
    }

    body .section_integrations {
        margin-top: 0;
    }

    body .footer_container .div_integrations {
        top: 50px;
    }
}

@media (max-width: 770px) and (min-width: 0) {
    body section .row div .section_color {
        width: 110%;
        position: relative !important;
    }

    body section .row div .padding_mobile {
        padding-top: 25px !important;
    }

    .section_padding {
        height: auto;
    }

    body section .row div .padding_mobile .hr_width {
        width: 100% !important;
    }

    body section .row div .padding_mobile .hr_width div .div_video {
        width: 70px;
        height: 70px;
    }

    .section_footerborder {
        bottom: -300px;        
    }
    
    .div_footertext {
        flex-direction: column;
    }
}

@media (max-width: 300px) and (min-width: 0) {
    body .section_main .container .row_bottom {
        width: 100%;
    }

    body .section_main .container .row_bottom .col_child .active {
        width: 130px;
    }

    body .section_point .container .row div .div_icon {
        width: 39px;
        height: 34px;
    }

    .title_size_mobile {
        font-size: 10px;
    }

    body .container .div_top .section_footer_center div .row div .title_before::before,
    body .container .div_top .section_footer_center div .row div .title_before::after {
        display: none;
    }

    body .section_main_integrations {
        height: 95vh;
    }
}

// end media