@import "color";

// start everyone
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: $color_button_navbar;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.color_links {
    color: $color_text_navbar;
}

body header nav .container div ul li .active:hover,
body header nav .container div ul li .active {
    color: $color_button_navbar;
    border-bottom: 3px solid $color_button_navbar;
    padding-bottom: 25px;
}

.link_color:hover {
    color: $color_button_navbar;
    border-bottom: 3px solid $color_button_navbar;
    padding-bottom: 25px;
}

.icon_top {
    transition: 0.5s;
}

.span_color {
    color: $color_button_navbar;
}

.mouse_click {
    cursor: pointer;
}

.image_cover {
    object-fit: cover;
}

// end everyone
// start navbar
body header {
    z-index: 4;
    background-color: $color_navbar;
}

body header nav .container div ul {
    gap: 45px;
}

:root {
    --width: 139px;
    --height: 48px;
}

body header nav .container div ul li .button {
    width: calc(0.9 * var(--width));
    height: calc(0.9 * var(--height));
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0, 0.22, .3, 1);

    span {
        z-index: 10;
    }

    &._3 {
        background: $color_button_navbar;
    }

    .back {
        width: 0;
        height: 0;
        filter: url(#filter);
        transition: all 2s cubic-bezier(0.1, 0.22, .3, 1);
    }

    &._3 .back {
        left: -50%;
        bottom: -50%;
        background: $color_black;
    }

    &:hover .back {
        width: calc(2 * var(--width));
        height: calc(2 * var(--height));
    }
}

body header nav .container div ul li .section_solutions {
    top: 47px;
    background-color: $color_navbar_hover;
    border-top: 3px solid $color_button_navbar;
}

body header nav .container div ul li .section_solutions:hover,
body header nav .container div ul .div_section_block:hover~.section_solutions {
    display: flex !important;
}

.section_solutions.flex-display {
    display: flex !important;
}

body header nav .container div ul li .section_solutions ul .border_title {
    width: 40px;
    border-bottom: 3px solid $color_button_navbar;
}

body header nav .container div ul li .section_solutions .div_hr {
    width: 2px;
    background-color: #05d35e2a;
}

body header nav .container .menu {
    background-color: $color_text_navbar;
}

body header .navbar .container div ul li .section_solutions ul li .text_hover:hover {
    color: $color_button_navbar !important;
}

// end navbar
// start main
body .section_main .container .row div .div_center,
body .section_main {
    width: 100%;
    height: 100vh;
}

body .section_main .container .row div .div_image:before,
body .section_main .container .row div .div_image_right:before {
    content: "";
    background-size: 50% 100vh;
    position: absolute;
    width: 50%;
    height: 100vh;
    z-index: -1;
}

body .section_main .container .row div .div_image:before {
    background-image: url("/images/images_home/image_left.png");
    left: 0;
}

body .section_main .container .row div .div_image_right:before {
    background-color: $color_image_main;
    z-index: 1;
    right: 0;
}

body .section_main .container .row div .div_image .carousel_text div .title_number {
    color: #f3fdfeb4;
    font-size: 107.28px;
}

body .section_main .container .row div .div_center .div_top {
    margin-top: 250px;
}

body .section_main .container .row div .div_left {
    left: 3%;
}

body .section_main .container .row div .div_left div .div_circle {
    cursor: pointer;
    width: 10px;
    height: 10px;
}

body .section_main .container .row div .div_left div .active {
    background-color: $color_button_navbar !important;
}

body .section_main .container .row div .div_left div .active::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    left: -8px;
    top: -8px;
    border-radius: 50%;
    border: 2px solid $color_button_navbar;
}

body .section_main .container .row div .div_center .carousel_text div .size_main {
    width: 410px;
    font-size: 47.3px;
}

body .section_main .container .row div .div_center .carousel_text div div .icon_background {
    cursor: pointer;
    width: 48px;
    height: 48px;
    background-color: $color_button_navbar;
}

body .section_main .container .row div .div_center .carousel_text div div .icon_background::before,
body .section_main .container .row div .div_center .carousel_text div div .icon_background::after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

body .section_main .container .row div .div_center .carousel_text div div .icon_background::before {
    width: 61px;
    height: 61px;
    border: 1px solid $color_button_navbar;
    animation: animation_video 2s infinite;
}

@keyframes animation_video {
    0% {
        width: 61px;
        height: 61px;
        border: 1px solid $color_white;
    }

    50% {
        width: 65px;
        height: 65px;
        border: 0px solid $color_button_navbar;
    }

    100% {
        width: 61px;
        height: 61px;
        border: 1px solid $color_white;
    }
}

body .section_main .container .row div .div_center .carousel_text div div .icon_background::after {
    width: 78px;
    height: 78px;
    border: 1px solid #05d35e44;
    animation: animation_line 2s infinite;
}

@keyframes animation_line {
    0% {
        width: 70px;
        height: 70px;
    }

    50% {
        width: 65px;
        height: 65px;
    }

    100% {
        width: 70px;
        height: 70px;
    }
}

body .section_main .container .row div .div_center .carousel_text div div .animation_text {
    animation: animation_text 2s infinite;
}

@keyframes animation_text {
    0% {
        margin-top: 5px;
        margin-left: 5px;
    }

    50% {
        margin-top: 0px;
        margin-left: 0px;
    }

    100% {
        margin-top: 5px;
        margin-left: 5px;
    }
}

body .section_main .container .row div div .div_mouse {
    top: -150px;
    width: 30px;
    height: 50px;
}

body .section_main .container .row div div .div_mouse::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 10px;
    background-color: $color_white;
    animation: animation_mouse 2s infinite;
}

@keyframes animation_mouse {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

body .section_main .container .row div div .div_mouse .div_arraow {
    margin-top: 130px;
}

body .section_main .container .row div div .div_mouse .div_arraow .arraow_all {
    opacity: 0;
}

body .section_main .container .row div div .div_mouse .div_arraow .arraow1 {
    animation: animation_arraow1 3s infinite;
}

@keyframes animation_arraow1 {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }
}

body .section_main .container .row div div .div_mouse .div_arraow .arraow2 {
    animation: animation_arraow2 3s infinite;
}

@keyframes animation_arraow2 {
    30% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }
}

body .section_main .container .row div div .div_mouse .div_arraow .arraow3 {
    animation: animation_arraow3 3s infinite;
}

@keyframes animation_arraow3 {
    60% {
        opacity: 1;
    }

    90% {
        opacity: 0;
    }
}

body .section_main .container .row_bottom {
    flex-wrap: wrap;
    z-index: 1;
    background-color: $color_scroll_bold;
    transform: translate(0, -190px);
    height: 150px;
}

body .section_main .container .row_bottom .col_child div .div_width div .text_one {
    font-size: 14px;
}

body .section_main .container .row_bottom .col_child div .div_width div .text_tow {
    font-size: 17px;
}

body .section_main .container .row_bottom .col_child div .div_width::after {
    content: "";
    right: 20px;
    position: absolute;
    background-color: $color_white;
    width: 2px;
    height: 90px;
}

body .section_main .container .row_bottom .col_child .div_active .div_width::after,
body .section_main .container .row_bottom .col_child:last-child .div_width::after {
    display: none;
}

body .section_main .container .row_bottom .col_child .div_active {
    width: 100%;
    border-radius: 15px;
    background-color: $color_scroll_bold;
    height: 150px;
}

body .section_main .container .row div .div_image_right .div_right {
    top: 35%;
    right: 3%;
    z-index: 1;
}

body .section_main .container .row div .div_image_right .div_right ul li .icon_width {
    width: 42px;
    height: 42px;
}

body .section_main .container .row_bottom .col_child div .div_width div .active_online {
    color: $color_button_navbar;
}

body .section_main .container .row_bottom .col_child div .border_active::before {
    content: "";
    position: absolute;
    bottom: 32px;
    left: 17px;
    width: 0;
    height: 3px;
    background-color: $color_button_navbar;
    animation: animation_border 7s;
}

@keyframes animation_border {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

body .section_main .container .row div .div_image .carousel_text {
    z-index: 2;
    margin-left: -30px;
}

body .section_main .container .row div .carousel {
    position: static;
}

// end main
// start media
@media (max-width: 1200px) and (min-width: 990px) {
    body header nav .container div ul {
        gap: 3px;
    }

    body header nav .container div ul .link_color {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    body header nav .container div ul li .link_signin {
        margin-left: 10px !important;
    }

    body .section_main .container .row_bottom {
        transform: translate(0, -145px);
    }
}

@media (max-width: 990px) and (min-width: 0) {
    body header {
        background-color: $color_white;
    }

    body header nav .container div ul li .active {
        color: $color_button_navbar;
        border-bottom: 0px solid transparent;
        padding-bottom: 0;
    }

    body header nav .container div ul {
        gap: 20px;
    }

    body header nav .container div ul .li_overflow:hover {
        padding-bottom: 20px;
        background-color: $color_navbar_hover;
    }

    body header nav .container div ul .li_overflow:hover .icon_top {
        color: $color_button_navbar;
        transform: rotate(90deg);
    }

    body header nav .container div ul .li_overflow:hover .link_color {
        color: $color_button_navbar;
    }

    body header nav .container div ul li .section_solutions {
        border-top: 0px solid $color_button_navbar;
        z-index: 1;
        position: relative !important;
        width: 100%;
        left: 0;
        top: 10px;
    }

    body header nav .container div ul li .section_solutions ul .border_title {
        border-bottom: 0px solid $color_button_navbar;
    }

    body header nav .container div ul li .button {
        width: calc(1.4 * var(--width));
        height: calc(0.9 * var(--height));
    }

    body header nav .container div ul li .active_mobile {
        color: $color_text_navbar !important;
    }

    body header nav .container div ul li .link_color:hover {
        border-bottom: 0 solid $color_button_navbar;
        padding-bottom: 0;
    }

    body .section_main {
        height: 200px;
    }

    body .section_main .container .row_bottom .col_child div .border_active::before,
    body .section_main .container .row div .div_image:before {
        display: none;
    }

    .image_right {
        width: 100% !important;
        height: 600px !important;
        right: 0;
    }

    body .section_main .container .row div .div_image_right:before,
    .div_center {
        background-size: 100% 600px;
        width: 100%;
        height: 600px;
        left: 0;
    }

    body .section_main .container .row div .div_image .carousel_text div .title_number {
        font-size: 60px;
    }

    body .section_main .container .row div .div_center .carousel-inner {
        padding-left: 250px;
        padding-right: 250px;
    }

    body .section_main .container .row div .div_center .carousel_text div .size_main {
        width: 250px;
        font-size: 20px;
    }

    body .section_main .container .row_bottom {
        width: 335px;
        height: 172.65px;
        transform: translate(0, -350px);
    }

    body .section_main .container .row_bottom .col_child div .div_width .image_width {
        width: 60px;
        height: 37.73px;
    }

    body .section_main .container .row_bottom .col_child div .div_width {
        height: 86px;
    }

    body .section_main .container .row_bottom .col_child .div_active {
        width: 167px;
        border-radius: 0;
        height: 86px;
        transform: translate(0, 0);
    }

    body .section_main .container .row_bottom .col_child div .div_width div .text_one {
        font-size: 8px;
    }

    body .section_main .container .row_bottom .col_child div .div_width div .text_tow {
        width: 110%;
        font-size: 9px;
    }

    body .section_main .container .row_bottom .col_child div .div_width::after {
        right: 0;
        width: 2px;
        height: 40px;
    }

    body .section_main .container .row div .div_image .carousel_text {
        margin-left: 0;
    }
}

@media (max-width: 300px) and (min-width: 0) {
    body .section_main .container .row_bottom {
        width: 100%;
    }

    body .section_main .container .row_bottom .col_child .div_active {
        width: 130px;
    }
}

// end media